<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <script src="/webjars/jquery/3.5.1/jquery.js"> </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</head>
<body>


<div class="container" style="margin-top: 20px">
<div class="card mx-auto shadow">

        <form th:object="${recipe}" th:action="@{/recipe/}" method="post">

            <input type="hidden" th:field="*{id}"/>
    <div class="card-header shadow">
      <h2>Edit Recipe Information</h2>
    </div>
            <div class="card-body">
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" >
                <p>Please correct the Errors Below</p>

                <ul>
                    <li th:each="err : ${#fields.errors('description')}" th:text="'Description- ' + ${err}"/>
                    <li th:each="err : ${#fields.errors('preptime')}" th:text="'Preptime- ' + ${err}"/>
                    <li th:each="err : ${#fields.errors('cooktime')}" th:text="'Cooktime- ' + ${err}"/>
                    <li th:each="err : ${#fields.errors('servings')}" th:text="'Servings- ' + ${err}"/>
                    <li th:each="err : ${#fields.errors('url')}" th:text="'URL- ' + ${err}"/>
                    <li th:each="err : ${#fields.errors('directions')}" th:text="'Directions- ' + ${err}"/>

                </ul>
            </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/">Home</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>


                <div class="form-group-lg" >


                    <label th:class="${#fields.hasErrors('description')} ? 'alert-danger' : 'dark' ">
                        Recipe Description:
                        <input size="90" type="text" class="form-control" th:field="*{description}"/>
                    </label>


                    </div>


                    <p></p>


                    <label th:class="${#fields.hasErrors('preptime')} ? 'alert-danger' : 'dark' ">Recipe Prep time:
                        <input type="text" class="form-control" th:field="*{preptime}"/>
                    </label>



                    <label th:class="${#fields.hasErrors('cooktime')} ? 'alert-danger' : 'dark' ">Recipe Cook time:
                        <input type="text" class="form-control" th:field="*{cooktime}"/>
                    </label>


                    <label th:class="${#fields.hasErrors('servings')} ? 'alert-danger' : 'dark' ">Servings:
                        <input type="text" class="form-control" th:field="*{servings}"/>
                    </label>


                    <div class="form-group">

                        <label>
                            Source:
                            <input type="text" class="form-control" th:field="*{source}"/>
                        </label>
                        <label th:class="${#fields.hasErrors('url')} ? 'alert-danger' : 'dark' ">URL:
                            <input type="text" class="form-control" th:field="*{url}"/>
                        </label>

                        <label>Difficulty:

                            <select style="width: 235px"  class="form-control" th:field="*{difficulty}">
                                <option th:each="difficultyValue: ${T(com.springframework.domain.Difficulty).values()}"
                                        th:value="${difficultyValue.name()}"
                                    th:text="${difficultyValue.name()}">
                                    Easy</option>
                                    </select>

                        </label>

                        <div class="radio"><label>Categories:</label>
                            <label>
                                <input type="checkbox" value=""/>
                                Cat 1
                            </label>
                            <label>
                                <input type="checkbox" value=""/>
                                Cat 2
                            </label>
                        </div>

                    </div>


                <label th:class="${#fields.hasErrors('directions')} ? 'alert-danger' : 'dark' ">Directions:
                    <textarea class="form-control" rows="9" cols="38" th:field="*{directions}"></textarea>
                </label>
                    <label th:class="${#fields.hasErrors('notes')} ? 'alert-danger' : 'dark' ">Notes:
                    <textarea class="form-control" rows="9" cols="38" th:field="*{notes.recipeNotes}"></textarea>
                </label>

                    <div class="col-md-11 ">
                        <h3 class="panel-title">Ingredients</h3>
                        <a class="btn btn-default" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>
                        <a class="btn btn-default" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/new'}" role="button">Add Ingredients</a>
                    </div>


            <div class="col-md-12">
                <ul>
                    <li th:remove="all">1 Cup of milk</li>
                    <li th:remove="all">1 Teaspoon of chocolate</li>
                    <li th:each="ingredient : ${recipe.ingredientsCommandSet}"
                        th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.measurementCommand.description +
                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                    </li>
                </ul>
            </div>

                <button type="submit" class="btn btn-primary">Submit</button>


        </form>

    </div>

</div>

</body>
</html>