<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8/"/>
    <title>View Recipe</title>

    <script src="/webjars/jquery/3.5.1/jquery.js"> </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>

<div class="jumbotron">

    <div class="card-body">

        <h1 class="card-title text-center"><ins th:text="${recipe.description}"> </ins> </h1>

        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-sm-6">
                    Prep Time: <em th:utext="${recipe.prepTime}"></em>
                </div>
                <div class="col-sm-6">
                    Cooking Time: <em th:utext="${recipe.cookTime}"></em>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    Servings: <em th:utext="${recipe.servings}"></em>
                </div>
                <div class="col-sm-6">
                    Difficulty: <em th:utext="${recipe.difficulty}"></em>
                </div>
            </div>

             <div class="row">
                <div class="col-sm-6">
                    <table class="table table-striped text-center">
                            <tr th:each="catagory : ${recipe.getCategories()}">
                            <td th:text="${catagory.description}"> </td>
                        </tr>
                    </table>
                </div>


                <div class="col-sm-6">
                    Url: <em th:utext="${recipe.url}"></em>
                </div>
            </div>

           <div class="row">
               <div class="col-lg-4 align-items-center d-flex">
                   <img src="https://images.pexels.com/photos/704569/pexels-photo-704569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=300w=200" alt="" class="img-fluid">
               </div>
            </div>

        </div>

    </div>
</div>
<a class="btn btn-primary" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">List Ingredients</a>
<p></p>
<div class="card">
    <h4 class="card-title">Ingredients:</h4>

    <table class="table table-bordered table-striped text-center table-hover">
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Measurment</th>

        </tr>

        <tr th:each="ingredient : ${recipe.getIngredients()}">
           <td th:text="${ingredient.description} "> </td>
            <td th:text="${ingredient.getAmount()} "> </td>
            <td th:text="${ingredient.mesurements.description} "> </td>

        </tr>
    </table>

</div>

<p></p>
<p></p>

<div class="card">

        <h4 class="card-title">Directions:</h4>
    <div class="card-body text-left text-muted">


        <p th:utext="${recipe.directions}"></p>


    </div>
</div>

<p></p>
<p></p>


<div class="card">
    <h4 class="card-title">Notes:</h4>
    <div class="card-body text-left text-muted">
        <p th:utext="${recipe.notes.recipeNotes}"></p>
    </div>

</div>

<p></p>
<p></p>


</body>
</html>